################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HackerRank_CompareTheTriplets/v15/Server/sqlite3/storage.ide-shm
/.vs/HackerRank_CompareTheTriplets/v15/Server/sqlite3/storage.ide-wal
*.ide-wal

/HackerRank_MinMaxSum/bin/*
/HackerRank_CompareTheTriplets/bin/*
